node_modules
.pnpm-store
.next
dist
.env
.DS_Store

# Synapse Data
docker/synapse/*.db
docker/synapse/*.log
docker/synapse/*.pid
docker/synapse/media_store/
docker/synapse/*.signing.key

# Synapse Config
!docker/synapse/homeserver.yaml
!docker/synapse/*.log.config
